<!DOCTYPE html>

<html lang="">
<head>
<title>Law Television & Awareness - Africa’s First Full-Fledged Law-Dedicated Television.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href=""><i class="fas fa-phone"></i></a> <span>Give us a call: <strong>+(234) 8183 520 806</strong></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href=""><i class="fas fa-envelope"></i></a> <span>Send us a mail: <strong>Admin@lawtvnews.com</strong></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href=""><i class="fas fa-clock"></i></a> <span>Mon. - Sat.: <strong>08:00am - 17:00pm</strong></span></div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 
      <!-- ################################################################################################ -->
      <h1><a href="/">Law Television & Awareness</a></h1>
      <!-- ################################################################################################ -->
    </div>
    <nav id="mainav" class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/blog">Blog</a></li>
        <li><a href="/constitution">Know The Constitution</a></li>
        <li><a href="https://www.paypal.com/donate/?hosted_button_id=L4VF4UQVN9UMN">Donate</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/lawtv.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>BROADEN ACCESS TO THE RATHER CONSERVATIVE AND TECHNICAL FIELD OF LAW USING INNOVATION AND DYNAMIC PROGRAMMING</p>
      <footer><a class="btn" href="#"><strong>If we desire respect for the law, we must first make the law respectable</strong></a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first font-x2">Enlightening the public</h6>
    <footer class="one_quarter"><a class="btn" href="/donate"><strong>Donate</strong></a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Welcome To Law Televeion Blog</h6>
    </div>
    <ul id="latest" class="nospace group grid-3">
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="http://lawtvnews.com/kano-man-to-die-by-hanging-for-killing-stepmother/"><img src="images/demo/348x261.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Kano man to die by hanging for killing stepmother</h6>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="http://lawtvnews.com/court-remands-man-over-alleged-robbery/"><img src="images/demo/348x262.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Court remands man over alleged robbery</h6>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="http://lawtvnews.com/parking-law-violation-laspa-clamps-down-on-erring-nightclubs/"><img src="images/demo/348x263.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Parking Law Violation: LASPA clamps-down on erring nightclubs</h6>
          </div>
        </article>
      </li>
    </ul>
    
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Law Television & Awareness</h6>
      <nav>
        <ul class="nospace linklist">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/constitution">Know The Constitution</a></li>
          <li><a class="btn" href="https://www.paypal.com/donate/?hosted_button_id=L4VF4UQVN9UMN"><strong>Donate</strong></a></li> 
          </ul>
      </nav>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Subscribe To Our Newsletter</h6>
      <form action="https://formsubmit.co/4adf6033b2b3b04e917e493f43825767" method="POST">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" name="Name" value="" placeholder="Name">
          <input class="btmspace-15" type="email" name="Email" value="" placeholder="Email">
          <button class="btn" type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">Law Televison & Awareness</a></p>
    <p class="fl_right">Designed By <a target="_blank" href="https://instagram.com/pyeramiddigital" title="Get A Free Portfolio Website">Pyeramid</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>