<!DOCTYPE html>

<html lang="">
<head>
<title>Law Television & Awareness - Africa’s First Full-Fledged Law-Dedicated Television.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href=""><i class="fas fa-phone"></i></a> <span>Give us a call: <strong>+(234) 8183 520 806</strong></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href=""><i class="fas fa-envelope"></i></a> <span>Send us a mail: <strong>Admin@lawtvnews.com</strong></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href=""><i class="fas fa-clock"></i></a> <span>Mon. - Sat.: <strong>08:00am - 17:00pm</strong></span></div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo"  class="fl_left"> 
      <!-- ################################################################################################ -->
      <h1><a href="/">Law Television & Awareness</a></h1>
      <!-- ################################################################################################ -->
    </div>
    <nav id="mainav" class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/constitution">Know The Constitution</a></li>
        <li><a href="/donate">Donate</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/lawtv.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>BROADEN ACCESS TO THE RATHER CONSERVATIVE AND TECHNICAL FIELD OF LAW USING INNOVATION AND DYNAMIC PROGRAMMING</p>
      <footer><a class="btn" href="#"><strong>If we desire respect for the law, we must first make the law respectable</strong></a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first font-x2">Enlightening the public</h6>
    <footer class="one_quarter"><a class="btn" href="/blog"><strong>Learn More</strong></a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url('images/demo/backgrounds/02.png');">
  <div class="hoc split clear">
    <section> 
      <!-- ################################################################################################ -->
      <h6 class="heading font-x2">About Us</h6>
      <p class="btmspace-30">Law TV presents unique and refreshing perspectives to the multiple layers of the widely encompassing field of law.</p>
      <ul class="nospace btmspace-50">
        <li class="btmspace-10"><i class="fas fa-check-circle"></i> The mission of Law TV is to broaden access to the rather conservative and technical field of law using innovation and dynamic programming</li>
        <li class="btmspace-10"><i class="fas fa-check-circle"></i> Our vision is to Enlighten the public on the law</li>
      </ul>
      <footer><a class="btn" href="#services">See More &raquo;</a></footer>
      <!-- ################################################################################################ -->
    </section>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section id="services" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">The 1999 Constitution</h6>
    </div>
    <ul class="nospace group grid-3">
      <li class="one_third">
        <article>
          <h6 class="heading"><a href="#"></i></a> Citizenship and Nationality</h6>
          <ul>
            <li>
             Every person born in Nigeria before the date of independence, either of whose parents or any of whose grandparents belongs or belonged to a community indigenous to Nigeria
            </li>
            <li>
              Every person born in Nigeria after the date of independence either of whose parents or any of whose grandparents is a citizen of Nigeria
            </li>
            <li>
              Every person born outside Nigeria either of whose parents is a citizen of Nigeria
            </li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading"><a href="#"></i></a> Jurisdiction and Access</h6>
          <ul>
            <li>
              The Supreme Court shall, to the exclusion of any other court, have original jurisdiction in any dispute between the Federation and a state or between states if and in so far as that dispute involves any question (whether of law or fact) on which the existence or extent of a legal right depends
            </li>
            <li>
             The Supreme Court shall have such original jurisdiction as may be conferred upon it by any Act of the National Assembly
            </li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading"><a href="#"></i></a> Education</h6>
          <ul>
            <li>
              Government shall direct its policy towards ensuring that there are equal and adequate educational opportunities at all levels
            </li>
            <li>
              Government shall promote science and technology
            </li>
            <li>
              Government shall strive to eradicate illiteracy
            </li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading"><a href="#"></i></a> Employment Rights and Protection</h6>
          <ul>
            <li>
              All citizens, without discrimination on any group whatsoever, have the opportunity for securing adequate means of livelihood as well as adequate opportunity to secure suitable employment
            </li>
            <li>
              Conditions of work are just and humane, and that there are adequate facilities for leisure and for social, religious and cultural life
            </li>
            <li>
              The health, safety and welfare of all persons in employment are safeguarded and not endangered or abused
            </li>
            <li> 
              There is equal pay for equal work without discrimination on account of sex, or on any other ground whatsoever
            </li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading"><a href="#"></i></a> Equality and Non-Discrimination</h6>
          <ul>
            <li>
              The motto of the Federal Republic of Nigeria shall be Unity and Faith, Peace and Progress
            </li>
            <li>
              Accordingly, national integration shall be actively encouraged, whilst discrimination on the grounds of place of origin, sex, religion, status, ethnic or linguistic association or ties shall be prohibited
            </li>
            <li>
              In furtherance of the social order, every citizen shall have equality of rights, obligations and opportunities before the law
            </li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading"><a href="#"></i></a> Limitations and/or Derogations</h6>
          <ul>
            <li>
              Nothing in sections 37, 38, 39, 40 and 41 of this Constitution shall invalidate any law that is reasonably justifiable in a democratic society
            </li>
            <li>
              An act of the National Assembly shall not be invalidated by reason only that it provides for the taking, during periods of emergency, of measures that derogate from the provisions of section 33 or 35 of this Constitution; but no such measures shall be taken in pursuance of any such act during any period of emergency save to the extent that those measures are reasonably justifiable for the purpose of dealing with the situation that exists during that period of emergency
            </li>
          </ul>
        </article>
      </li>
    </ul>
    <footer><a class="btn" href="/constitution"><strong>Learn more</strong></a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Know  Your Right</h6>
    </div>
    <figure id="points" class="group">
      <ul class="nospace group">
        <li><i class="fas fa-check-circle"></i> Right To Life</li>
        <li><i class="fas fa-check-circle"></i> Right To Dignity</li>
        <li><i class="fas fa-check-circle"></i> Right To Personal Liberty</li>
        <li><i class="fas fa-check-circle"></i> Right To Fair Hearing</li>
        <li><i class="fas fa-check-circle"></i> Right To Privacy</li>
        <li><i class="fas fa-check-circle"></i> Right To Freedom Of Thought, Conscience, & Religion</li>
        <li><i class="fas fa-check-circle"></i> Right To Freedom Of Expression</li>
        <li><i class="fas fa-check-circle"></i> Right To Freedon Of Assemble & Association</li>
        <li><i class="fas fa-check-circle"></i> Right To Freedon Of Movement</li>
        <li><i class="fas fa-check-circle"></i> Right To Freedon From Discrimination</li>
        <li><i class="fas fa-check-circle"></i> Right To Own Property</li>
        <li><i class="fas fa-check-circle"></i> Right To Rest & Leisure, INcluding Reasonable Limitation Of Working Hours & Periodic Holidays With Pay</li>

      </ul>
    </figure>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Featured Blog</h6>
    </div>
    <ul id="latest" class="nospace group grid-3">
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="http://lawtvnews.com/kano-man-to-die-by-hanging-for-killing-stepmother/"><img src="images/demo/348x261.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Kano man to die by hanging for killing stepmother</h6>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="http://lawtvnews.com/court-remands-man-over-alleged-robbery/"><img src="images/demo/348x262.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Court remands man over alleged robbery</h6>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="http://lawtvnews.com/parking-law-violation-laspa-clamps-down-on-erring-nightclubs/"><img src="images/demo/348x263.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Parking Law Violation: LASPA clamps-down on erring nightclubs</h6>
          </div>
        </article>
      </li>
      <li><a class="btn" href="/blog"><strong>Read More</strong></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">What's Happening?</h6>
    </div>
    <ul id="latest" class="nospace group grid-3">
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="https://www.youtube.com/channel/UCuMEDGWo4pIVSYogW8JKq4A"><img src="images/demo/348x261.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Kano man to die by hanging for killing stepmother</h6>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="https://www.youtube.com/channel/UCuMEDGWo4pIVSYogW8JKq4A"><img src="images/demo/348x263.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Parking Law Violation: LASPA clamps-down on erring nightclubs</h6>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="https://www.youtube.com/channel/UCuMEDGWo4pIVSYogW8JKq4A"><img src="images/demo/348x262.png" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Court remands man over alleged robbery</h6>
          </div>
        </article>
      </li>
      <li><a class="btn" href="https://www.youtube.com/channel/UCuMEDGWo4pIVSYogW8JKq4A"><strong>See More</strong></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>

<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Law Television & Awareness</h6>
      <nav>
        <ul class="nospace linklist">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/constitution">Know The Constitution</a></li>
          <li><a class="btn" href="/donate"><strong>Donate</strong></a></li> 
          </ul>
      </nav>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Subscribe To Our Newsletter</h6>
      <form action="#" method="post">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button class="btn" type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">Law Televison & Awareness</a></p>
    <p class="fl_right">Designed By <a target="_blank" href="https://instagram.com/pyeramiddigital" title="Get A Free Portfolio Website">Pyeramid</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>